body {
  background-color: #eae7e7 !important;
  text-decoration: none;
}
.nav-link,
.about-title,
.about-main-content,
.instruction-title,
.instruction-content,
.developer-title,
svg path,
#points,
#highscore,
p,
.form-text,
.choice-label {
  color: black !important;
}

.question-label {
  color: #000000 !important;
  background-color: #fff !important;
}

.input-label-question {
  color: #000000 !important;
  background-color: transparent !important;
  border: 1px solid #000000 !important;
}

.input-label {
  border: 1px solid #000000 !important;
}

svg path {
  stroke: #000000 !important;
}

#navigation-bar {
  background-color: #fff !important;
  font-family: "VT323", monospace;
  white-space: nowrap;
}
.theme{
  margin-left: auto !important;
  white-space: nowrap;
}
#title {
  color: #000000;
  font-family: "VT323", monospace;
}
#submit-button {
  margin-left: 120px;
}
#start-quiz{
  margin-top: 120px;
}
.font {
  font-family: "VT323", monospace;
}
.quiz-section {
  border: 2px solid rgb(0, 0, 0);
  height: 500px;
  background-color: #ffffff !important;
}
marquee {
  color: #000000;
  font-family: "VT323", monospace;
  margin-top: 265px;
  border: 1px solid #000000;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
/* .quiz{
            position: relative;
            width: 100%;
            height: 60vh;
            overflow: hidden;
        } */

.question-container {
  font-family: "VT323", monospace;
}
#question-content {
  color: #000000 !important;
}
#choices-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#timer {
  color: #000000 !important;
}
.options {
  /* Adjust the margin as needed for spacing between choices */
  flex: 1 0 45%; /* Adjust the width of the choices */
  padding: 10px;
  border-radius: 14px;
}
.options:hover {
  background-color: #66fcf1;
}
.next-button {
  background-color: #efefef;
  display: inline-block;
  padding: 0.5em 1.6em;
  border: 3px solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #13a4b1;
  text-align: center;
  transition: all 0.2s;
  position: relative;
  color: rgb(0, 0, 0);
}

.next-button:hover {
  background-color: #66fcf1;
  color: #000000;
}
@keyframes next-buttonbouncy {
  0% {
    top: 0em;
  }
  40% {
    top: 0em;
  }
  43% {
    top: -0.9em;
  }
  46% {
    top: 0em;
  }
  48% {
    top: -0.4em;
  }
  50% {
    top: 0em;
  }
  100% {
    top: 0em;
  }
}
/* About section */
/* Developers section */
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.pt-5 {
  padding-top: 3rem !important;
}
.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.border-0 {
  border: 0 !important;
}
.position-relative {
  position: relative !important;
}
.shadow-lg {
  box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%) !important;
}
.card {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.member-profile {
  top: -50px;
  left: 0;
}
.text-center {
  text-align: center !important;
}
.w-100 {
  width: 100% !important;
}
.position-absolute {
  position: absolute !important;
}

.member-profile img {
  width: 100px;
  height: 100px;
}
.rounded-circle {
  border-radius: 50% !important;
}
.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}
.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}
/* Footer */

.content {
  height: 70vh;
}

.footer-20192 {
  position: relative;
  color: #141d2a;
  padding: 7rem 0;
  background-color: #d9d9d9;
}

.footer-20192 .container {
  position: relative;
}

.footer-20192 h3 {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0;
  line-height: 1.5;
}

.footer-20192 .links li {
  margin-bottom: 10px;
  line-height: 1.5;
  display: block;
}

.footer-20192 .links li a {
  color: #666873;
}

.footer-20192 .links li a:hover {
  color: #fff;
}

.footer-20192 .social li {
  display: inline-block;
  position: relative;
}

.footer-20192 .social li a {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #8186d5;
  color: #fff;
}

.footer-20192 .social li a > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.footer-20192 .footer-logo {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.footer-20192 .copyright {
  color: #666873;
}

.footer-20192 .cta {
  -webkit-box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
  box-shadow: -20px -20px 0 0 rgba(52, 58, 64, 0.2);
  padding: 20px;
  background-color: #ffffff;
  top: -150px;
  position: relative;
}

.footer-20192 .cta h2,
.footer-20192 .cta h3 {
  line-height: 1.5;
}

.footer-20192 .cta h3 {
  font-size: 20px;
}
/* Customize Section */
#question-guide {
  color: black;
}
.question-label {
  color: rgb(0, 0, 0) !important;
  background-color: black;
}

/* Media Queries */
@media screen and (min-width: 992px) {
  .theme{
    position: absolute;
    right: 200px;
  }
}
@media screen and (max-width: 600px) {
  .above-questions {
    display: flex;
    flex-direction: column;
  }
  .theme{
    margin-left: auto !important;
    white-space: nowrap;
  }
}

@media (max-width: 10000px) {
  #choice-1,
  #choice-2,
  #choice-3,
  #choice-4,
  #answer {
    width: 170px;
  }
  .quiz-section {
    height: 600px;
  }
}
